Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  clang-analyzer-*,
  misc-*,
  -altera-*,
  -llvmlibc-*,
  -fuchsia-*,
  -google-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -modernize-use-trailing-return-type,


WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions: []

